
                <div class="panel">
                  <div class="row">
                    <div class="small-2 columns"><span>Account:</span></div>
                    <div class="small-6 columns"><h7><%= @acc %></h7></div>
                    
                    <div class="small-4 columns"><a href="#" class="tiny radius button delete-account-button" data-accname= '<%= @acc %>' data-id='<%= @project_to_view._id%>'>Delete</a></div>
                  </div>
                </div>
