 <div class="row">

      <div class="large-6 small-6 columns">
                <div class="panel">
                  <div class="row">
                    <div class="small-2 columns"><span>Account:</span></div>
                    <div class="small-6 columns"><h7><%= @proj.name %></h7></div>
                    <div class="small-4 columns"><a href="#" class="tiny radius button ">Show me more</a></div>
                  </div>
                </div>
            </div>

          <div class="large-6 small-6 columns">
            <div class="panel">
              <div class="row">
                <div class="small-2 columns"><span>Interaction:</span></div>
                <div class="small-6 columns"><h7><%= @proj.name %></h7></div>
                <div class="small-4 columns"><a href="#" class="tiny radius button ">Edit</a></div>
              </div>
            </div>
        </div>


</div>