 <div class="row">

      <div class="large-6 small-6 columns">
                <div class="panel">
                  <div class="row">
                    <div class="small-2 columns"><span>Project:</span></div>
                    <div class="small-6 columns"><h7><%= @proj.name %></h7></div>
                    <div class="small-4 columns"><a href="#" class="tiny radius button show-me-more-button" data-id='<%= @proj._id%>'>Show me more</a></div>
                  </div>
                  <div class="row">
                    <div class="small-2 columns"><span>Key:</span></div>
                    <div class="small-10 columns"><h7><%= @proj._id %></h7></div>
                  </div>
                </div>
            </div>

</div>